<%- include('../partials/header', { title: title }) %>
<link rel="stylesheet" href="/styles/categories.css">



<div class="page-header">
  <h1>Categories</h1>
  <a href="/categories/new" class="btn btn-primary">+ Add Category</a>
</div>

<ul class="category-list">
  <% if (categories.length > 0) { %>
    <% categories.forEach(category => { %>
      <li class="category-item">
        <a href="/categories/<%= category.id %>">
          <%= category.name %>
        </a>
        
      </li>
    <% }) %>
  <% } else { %>
    <li>No categories yet. <a href="/categories/new">Create one</a>.</li>
  <% } %>
</ul>

<%- include('../partials/footer') %>
